.contacts {
  @include grid-style(initial, initial);
  padding: 38px $mobile-side-indent 39px $mobile-side-indent;

  @media (min-width: $tablet-width) {
    padding: 68px $tablet-side-indent 57px $tablet-side-indent;
  }

  @media (min-width: $desktop-width) {
    padding: 71px $tablet-side-indent 105px $tablet-side-indent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.contacts__title {
  margin-bottom: 28px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    &::before {
      content: "";
      position: absolute;
      top: -22px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../../img/svg/sprite.svg#contact-flag");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        top: 62px;
        left: 63px;
        right: auto;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 79px 20px 0 175px;
    margin-bottom: 35px;
  }
}

.contacts__list {
  @include list-reset;
  @include grid-style(30px, initial);
  margin-bottom: 62px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 0.02)) {
    grid-template-columns: 1fr 1fr;
    gap: 30px 0;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 0 175px;
    margin-bottom: 40px;
    align-self: start;
  }
}

.contacts__part {
  @include list-reset;
  @include grid-style(35px, initial);
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    gap: 25px;
  }
}

.contacts__text {
  @include indent-reset;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__email {
  color: $secondary-text-color;
  text-decoration: underline;
  text-decoration-color: $interactive-color;
  text-underline-offset: 5px;

  &:hover {
    color: $secondary-interactive-color;
    text-decoration-color: $secondary-interactive-color;
  }

  &:active {
    color: $secondary-interactive-color;
    text-decoration-color: rgba(70, 193, 174, 0.1);
  }

  &:focus-visible {
    color: $secondary-interactive-color;
    text-decoration-color: $secondary-interactive-color;
    opacity: 0.6;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    text-underline-offset: 8px;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 12px;
  }
}

.contacts__map {
  position: relative;
  margin: 0 -30px 41px -30px;
  padding: 0;
  min-width: 320px;
  width: 100vw;
  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% + 10px);
    width: 67px;
    height: 100px;
    background-image: url("../../img/svg/sprite.svg#map-pin");
    background-repeat: no-repeat;
    background-size: 67px 100px;
    transform: translate(-50%, -50%);
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: calc(50% - 40px);
      left: calc(50% + 12px);
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 33px);
      left: calc(50% + 9px);
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 -50px 55px -50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 100%;
  }
}

.contacts__google-map {
  display: none;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 457px;
  }
}

.contacts__map-image {
  position: relative;
  width: 100vw;
  min-width: 320px;
  height: 100%;
}

.contacts__link {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 175px;
  }
}
