.promo {
  @media (min-width: $tablet-width) {
    position: relative;
    background-color: #f9f9f9;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 24px;
      background-image: url("../../img/svg/zigzag-fill-tablet.svg");
      z-index: 2;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 34px;
      background-image: url("../../img/svg/zigzag-fill-desktop.svg");
      background-position: bottom center;
    }
  }
}

.promo-wrapper {
  @include grid-style(initial, initial);
}

.promo__title {
  padding: 73px $mobile-side-indent 120px $mobile-side-indent;
  background-image: url("../../img/background/promo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 90px $tablet-side-indent 372px $tablet-side-indent;
    background-image: url("../../img/background/promo-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    padding: 93px 110px 355px 110px;
    background-image: url("../../img/background/promo-desktop.jpg");
  }
}

.promo__categoty-list {
  @include list-reset;
  @include grid-style(initial, initial);

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-side-indent;
    grid-template-columns: 1fr 1fr;
  }
}

.promo__categoty-link {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  padding: 24px 135px 31px $mobile-side-indent;
  font-family: $main-font;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $base-color;
  text-decoration: none;
  width: 320px;
  z-index: 1;

  &--interior::before,
  &--toys::before {
    content: "";
    position: absolute;
    opacity: 0.5;
    background-color: #149080;
  }

  &--interior::before {
    right: 36px;
    top: 23px;
    width: 40px;
    height: 62px;
    mask-image: url("../../img/svg/sprite.svg#interior-mob");
    mask-size: 40px 62px;

    @media (min-width: $tablet-width) {
      top: 30px;
    }
  }

  &--toys::before {
    right: 27px;
    top: 21px;
    width: 60px;
    height: 60px;
    mask-image: url("../../img/svg/sprite.svg#toys-mob");
    mask-size: 60px 60px;

    @media (min-width: $tablet-width) {
      right: 33px;
      top: 31px;
    }

    @media (min-width: $desktop-width) {
      right: 35px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: $universal-color;
    transform: translateX(-50%);
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: calc(50vw - $tablet-side-indent);
      height: calc(100% - 2px);
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: 0.3s;

    &::before {
      opacity: 0.7;
    }

    &::after {
      background-color: #59d5bc;
      height: calc(100% + 5px);

      @media (min-width: $tablet-width) {
        height: 100%;
      }
    }
  }

  &:active {
    transform: translateY(-5px);
    transition: 0.3s;

    &::before {
      opacity: 0.3;
    }

    &::after {
      background-color: #59d5bc;
      height: calc(100% + 5px);

      @media (min-width: $tablet-width) {
        height: 100%;
      }
    }
  }

  &:focus-visible {
    transform: translateY(-5px);
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    outline: none;

    &::before {
      opacity: 0.7;
    }

    &::after {
      background-color: #59d5bc;
      height: calc(100% + 5px);

      @media (min-width: $tablet-width) {
        height: 100%;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 25px 135px 46px 36px;
    width: 334px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 305px 51px 36px;
    width: 525px;
  }
}

.promo__categoty-item {
  display: inline-flex;

  &:nth-child(even) {
    .promo__categoty-link::after {
      background-color: #56c3b2;
    }

    .promo__categoty-link:hover::after {
      background-color: $secondary-interactive-color;
    }

    .promo__categoty-link:active::after {
      background-color: $secondary-interactive-color;
    }

    .promo__categoty-link:focus-visible::after {
      background-color: $secondary-interactive-color;
    }
  }
}
