.top-product {
  @include grid-style(initial, initial);
  padding: 31px $mobile-side-indent 42px $mobile-side-indent;
  background-image: url("../../img/svg/zigzag-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 320px 6px;

  @media (min-width: $tablet-width) {
    padding: 40px $tablet-side-indent 69px $tablet-side-indent;
    grid-template-columns: calc(50% - 42px) 50%;
    grid-template-rows: auto 1fr auto;
    gap: 0 42px;
    background-image: url("../../img/svg/zigzag-line-tablet.svg");
    background-size: 768px 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px $tablet-side-indent 96px 225px;
    grid-template-columns: auto 525px;
    gap: 0 58px;
    background-image: url("../../img/svg/zigzag-line-desktop.svg");
    background-size: 1050px 23px;
    background-repeat: no-repeat;
  }
}

.top-product__categoty {
  position: relative;
  margin-bottom: 41px;

  &::before {
    content: attr(data);
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: auto;
    height: auto;
    font-family: $main-font;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: $universal-color;
    text-transform: uppercase;
    pointer-events: none;

    @media (min-width: $tablet-width) {
      top: 6px;
      left: auto;
      right: 13px;
      width: 100px;
      line-height: 17px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      left: -143px;
      right: auto;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin: 61px 0 35px 0;
  }
}

.top-product__text-wrapper {
  @include flex-style(column, initial, initial, initial);
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.top-product__about {
  @include indent-reset;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.top-product__info {
  @include list-reset;
  @include grid-style(20px 30px, initial);
  grid-template-columns: auto 1fr;
}

.top-product__text {
  @include indent-reset;
  font-family: $main-font;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $secondary-text-color;
}

.top-product__specification {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: calc(100vw - 2 * $mobile-side-indent);
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      width: calc(50vw - $tablet-side-indent - 42px);
    }

    @media (min-width: $desktop-width) {
      width: 292px;
    }
  }
}

.top-product__image-link {
  line-height: 0;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.top-product__image {
  height: auto;
  width: 100%;
}

.top-product__shopping-wrapper {
  @include flex-style(column, initial, initial, initial);
}

.top-product__price {
  margin: 25px auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto 33px auto;
  }
}

.top-product__order-button {
  width: 100%;
}
