$base-color: #ffffff;
$secondary-color: #f1f1f1;
$base-text-color: #000000;
$secondary-text-color: #444444;
$universal-color: #63d1bb;
$interactive-color: #62d1ba;
$secondary-interactive-color: #46c1ae;
$icon-color: #231f20;
$transparent: rgba(255, 255, 255, 0);
$border-color: #ececec;
$mobile-side-indent: 30px;
$tablet-side-indent: 50px;
$main-font: "Open Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
