.main-nav {
  @media (max-width: ($tablet-width - 0.02)) {
    &--hidden .main-nav__wrapper {
      display: none;
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      @media (max-width: ($tablet-width - 0.02)) {
        position: relative;
        width: 100vw;
        min-width: 320px;
        top: 0;
      }
    }
  }

  &--hidden .main-nav__toggle {
    mask-image: url("../../img/svg/sprite.svg#icon-menu");
    width: 20px;
    height: 14px;
    top: 32px;
    right: 31px;
  }
}

.main-nav__wrapper {
  @include grid-style(initial, initial);
  width: 100%;

  @media (max-width: ($tablet-width - 0.02)) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 48% 50%;
    gap: 0 2%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 436px 180px 436px;
    gap: 0;
  }
}

.main-nav__toggle {
  @include universal-interactive;
  position: absolute;
  padding: 0;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: $base-text-color;
  mask-image: url("../../img/svg/sprite.svg#icon-menu-close");
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: 3;

  @include pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;
  @include flex-style(column, wrap, initial, initial);
  position: relative;
  background-color: $base-color;

  &--additional {
    @media (max-width: ($desktop-width - 0.02)) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    background-color: $transparent;

    &--principal {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      gap: 0 37px;
    }

    &--secondary {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-left: auto;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100vw;
        width: 200vw;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .main-nav__item {
        max-width: 264px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--principal {
      @include grid-style(initial, initial);
      grid-template-columns: auto auto;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      gap: 0 71px;
      justify-content: start;

      .main-nav__item:nth-child(odd)::before {
        content: "";
        position: absolute;
        top: 0;
        right: -35px;
        width: 1px;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &--secondary {
      grid-column: 3 / 4;
      grid-row: 1 / 2;

      .main-nav__item {
        max-width: 267px;
      }
    }

    &--additional {
      flex-direction: row;
      background-color: $transparent;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      gap: 0 61px;
    }
  }
}

.main-nav__item {
  display: inline-flex;
  position: relative;

  @media (max-width: ($tablet-width - 0.02)) {
    box-shadow: 0 1px 0 0 $border-color, 0 1px 0 0 $border-color inset;
  }
}

.main-nav__link {
  @include basic-interactive;
  position: relative;
  display: inline-flex;
  font-family: $main-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $base-text-color;
  text-decoration: none;

  &--search:hover,
  &--cart:hover {
    opacity: 1;
    color: rgb(0, 0, 0, 0.6);

    &::before {
      opacity: 1;
      background-color: $universal-color;
    }
  }

  &--search:active::before,
  &--cart:active::before {
    opacity: 1;
    background-color: $universal-color;
  }

  &--search:focus-visible::before,
  &--cart:focus-visible::before {
    opacity: 1;
    background-color: $universal-color;
  }


  @media (max-width: ($tablet-width - 0.02)) {
    margin: 0 auto;
    padding: 28px 50px 27px 76px;
    width: 320px;
  }

  &--search::before,
  &--cart::before {
    content: "";
    position: absolute;
    height: 18px;
    opacity: 0.2;
    background-color: $base-text-color;
  }

  &--search::before {
    top: 32px;
    left: 32px;
    width: 18px;
    mask-image: url("../../img/svg/sprite.svg#search");
    mask-size: 18px 18px;
  }

  &--cart::before {
    top: 31px;
    left: 30px;
    width: 21px;
    mask-image: url("../../img/svg/sprite.svg#cart");
    mask-size: 21px 18px;
  }

  @media (min-width: $tablet-width) {
    &--principal {
      font-size: 15px;
      padding: 20px 0;
    }

    &--cart {
      padding: 32px 0 33px 82px;

      &::before {
        top: 35px;
        left: 31px;
      }
    }

    &--search {
      width: 84px;
      height: 100%;
      min-height: 89px;
      line-height: 0;
      font-size: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      &::before {
        top: 36px;
        left: 34px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--principal {
      padding: 32px 0;
      font-size: 17px;
    }

    &--cart {
      padding-right: 3px;
    }

    &--additional {
      padding: 20px 0;
      font-size: 15px;
    }
  }
}

.main-nav__delivery {
  @media (max-width: ($tablet-width - 0.02)) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    padding: 20px 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: right;
    color: $secondary-text-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      width: 200vw;
      height: 100%;
      background-color: $secondary-color;
      z-index: -1;
    }

    &--index::before {
      background-color: #f9f9f9;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
